<section>
     <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">

                        <h4 class="mt-0 header-title mb-5 text-center">Sales Report</h4>




                        <table class="table" id="myTable">
                            <thead>
                                <tr>
                                    <th scope="col">Sl. No</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each result}}
                                <tr>

                                    <th scope="row">{{counter @index}}</th>
                                    <td>{{this._id}}</td>
                                    <td>{{this.totalAmount}}</td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- end row -->

    </div>
</section>