<section class=" d-flex ml-5">


    <section class="content-main">
        <div class="row">
            <div class="col">
        <form action="/admin/sales-rep-mon" method="post">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <div class="row-1 display-block">
                            <div class="col">
                                <div class="reoprt-monthly">
                                    <label for="monthly">Sales Report Monthly</label>
                                    <select name="month" class="form-select" aria-label="Default select example">
                                        <option selected></option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">Hune</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">Septembr</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <button class="btn btn-primary" type="submit">VIEW</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            </div>
            <div class="col">
        <form action="/admin/sales-rep-daily" method="post">
            <label for="daily">Sales Report Date Wise</label><br>
            <div class="row">
                <div class="col">

                    <label for="start">Start Date</label><br>
                    <input type="date" id="start" name="start"><br>
                    <label for="end">End Date</label><br>
                    <input type="date" id="end" name="end">
                </div>
                <div class="col">
                    <button class="btn btn-primary">VIEW</button>

                </div><br>


            </div>

        </form>
        </div>
        </div>
    </section>





</section>