<section>
   <!-- Cart area start -->
    <div class="empty-cart-area pb-100px pt-100px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart-heading d-flex justify-content-center">
                        <h2 class="text-center">Your Wishlist is Empty...!</h2>
                       
                    </div>
                    <div class="empty-text-contant text-center">
                         <img src="assets/images/wish_empty.jpg" style="height: 350px;" alt=""><br>
                       
                        <br><br>
                        <a class="empty-cart-btn" href="home">
                            <i class="ion-ios-arrow-left"> </i> Start shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart area end -->
</section>