<section>
   <!-- Cart area start -->
    <div class="empty-cart-area pb-100px pt-100px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart-heading d-flex justify-content-center">
                        <h2 class="text-center">Order Placed Succesfully...!</h2>
                       
                    </div>

                    <div class="empty-text-contant text-center">
                         <img src="assets/images/order_placed.jpg" alt=""><br>
                        <button  class="add-cart btn btn-hover-primary ml-4" ><a href="/orders">View Orders</a></button>
                        <br><br>
                        <a class="empty-cart-btn" href="home">
                            <i class="ion-ios-arrow-left"> </i> Continue shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart area end -->
</section>