<section>
   <!-- Cart area start -->
    <div class="empty-cart-area pb-100px pt-100px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="empty-text-contant text-center">
                         <img src="assets/images/pagenotfound.jpg" alt=""><br>
                        
                        <br><br>
                        <a class="empty-cart-btn" href="home">
                            <i class="ion-ios-arrow-left"> </i> Continue shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart area end -->
</section>